.Article {
    position: relative;
    top: 85vh;

    br {
        user-select: none;
    }

    .title {
        @include title;
    }
    .subtitle {
        @include subtitle;
    }

    .publication {
        .titleArticle {
            font-family: $font_style;
            font-weight: bold;
            font-size: 28px;
        }

        .tag {
            margin: 5px;
            transition: all 0.3s ease 0s;
            user-select: none;
            &:hover {
                transform: translateY(-7px);
            }
        }

        .button {
            color: $container_color;
            transition: all 0.3s ease 0s;
            margin-top: 10px;
            &:hover {
                transform: translateY(-7px);
            }
        }
    }
}
