.Projects {
    position: relative;
    top:80vh;

    br{
        user-select: none;
    }
    
    .title {
        @include title;
    }

    .subtitle{
        @include subtitle;
    }

    .titleProject{
        font-family: $font_style;
    }

    .textProject{
        font-family: $font_style;
    }

    .colorButton{
        color: $container_color;
        transition: all 0.3s ease 0s;

        &:hover{
            transform: translateY(-7px);

        }
    }

    .textProject{
        font-weight: 300;
        font-size:17px;
    }

}
