.Welcome{
    position: relative;
    top: 10vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    
    .title{
        font-family: $font_style;
        color: $title-color;
        font-weight: 700;
        font-size: 30px;
    }
    
    .text{
        font-family: $font_style;
        font-weight: 200;
        font-size:27px
    }

    .image{
        margin-left: 40px;
        margin-top: 20px;
        user-select: none;
    }

}
